.social-links a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 5px;
}

.social-links a.twitter {
    background: url(../img/social-icons/twitter-gray.png);
}

.social-links a.dribbble {
    background: url(../img/social-icons/dribbble-gray.png);
}

.social-links a.pinterest {
    background: url(../img/social-icons/pinterest-gray.png);
}

.social-links a.forrst {
    background: url(../img/social-icons/forrst-gray.png);
}

.social-links a.vimeo {
    background: url(../img/social-icons/vimeo-gray.png);
}

.social-links a.facebook {
    background: url(../img/social-icons/facebook-gray.png);
}

.social-links a.email {
    background: url(../img/social-icons/email-gray.png);
}

.social-links a.googleplus {
    background: url(../img/social-icons/googleplus-gray.png);
}

.social-links a.youtube {
    background: url(../img/social-icons/youtube-gray.png);
}

.social-links a.skype {
    background: url(../img/social-icons/skype-gray.png);
}

.social-links a.twitter:hover {
    background: url(../img/social-icons/twitter.png);
}

.social-links a.dribbble:hover {
    background: url(../img/social-icons/dribbble.png);
}

.social-links a.pinterest:hover {
    background: url(../img/social-icons/pinterest.png);
}

.social-links a.forrst:hover {
    background: url(../img/social-icons/forrst.png);
}

.social-links a.vimeo:hover {
    background: url(../img/social-icons/vimeo.png);
}

.social-links a.facebook:hover {
    background: url(../img/social-icons/facebook.png);
}

.social-links a.email:hover {
    background: url(../img/social-icons/email.png);
}

.social-links a.googleplus:hover {
    background: url(../img/social-icons/googleplus.png);
}

.social-links a.youtube:hover {
    background: url(../img/social-icons/youtube.png);
}

.social-links a.skype:hover {
    background: url(../img/social-icons/skype.png);
}